*, *:before, *:after {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

body { 
	margin:0;
    background-color: rgba(255,255,255);
    font: 16px/1.42857 Ubuntu,Helvetica,Arial,sans-serif;
    color: #ffffff;
}

.main-menu, footer {
	background-color: #3D489A;
}

figure {
	padding: 5px 5px 5px 150px;
}
figure img {
	width: 80px;
	height: auto;
}

.nav-menu {
	margin-top: 23px;
	padding-left: 50px;
}

nav a{
	color: #ffffff;
	font-size: 18px;
}

nav li a {
	background-color: #3D489A;
}

.fa {
	display: none;
}

@media screen and (max-width: 1199px) {
	figure {padding: 5px 5px 5px 120px}
}

@media screen and (max-width: 990px) {
	figure {padding: 5px 5px 5px 50px}
}

@media screen and (max-width: 769px) {
	figure {padding: 5px 0px 5px 0px}
	figure img {width: 60px;}
	.nav a {font-size: 16px;}
	.nav>li>a {padding: 10px 5px;}
	.nav-menu {padding-left: 20px; margin-top: 13px;}
}

@media screen and (max-width: 515px) {
	.col-xs-1 {padding: 5px}
	figure img {width: 45px;}
	.nav-menu {padding-left: 10px; margin-top: 0px;}
	.nav>li>a {padding: 10px 5px;}
	.for_phones {display: none}
	.fa {display: block;}
	ul.nav.nav-pills {display: table; margin: 0 auto;}
}

.back {
	background: url(../images/lawyer-background1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment:  fixed;
	background-size: cover;
	height: auto;
}

@media screen and (min-width: 1199px) {
	.back {padding: 0 150px;}
}
.greeting {
	margin-top: 70px;	
}

.greeting p {
	text-align: center;
	font-size: 36px;
}


.me {
	max-width: 300px;
	height: auto;
	margin: 10px;
	float: left;
}

article {
	font-size: 18px;
	margin: 10px;
}

article a {
	color: #7673d9;
}

article a:hover {
	color: #ffffff;
}

.cort {
	font-size: 20px;
}

@media screen and (max-width: 990px) {
	.greeting p {font-size: 30px;}
}

@media screen and (max-width: 515px) {
	.greeting p {font-size: 24px;}	
}

footer {
	padding: 20px 20px 10px 130px;
}

footer p{
	padding-left: 0px;
}


@media screen and (max-width: 990px) {
	.kairick {
		text-align: center;
	 	display: block;
	 	margin-bottom: 5px;
	 }
	footer {padding-left: 0px;}
	footer span{display: inline-block;}
}

@media screen and (max-width: 769px) {
	footer {padding: 15px;
			text-align: center;
			}
}

