/* general styles */ 
*, *:before, *:after {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

html {
	position: relative;
	min-height: 100%;
}

body, .main {height: 100%;}

body { 
	margin: 0 0 60px 0;
    background-color: rgba(255,255,255);
    font: 16px/1.42857 Ubuntu,Helvetica,Arial,sans-serif;
    color: #ffffff;
    height: auto;
	background: url(../images/lawyer-background1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment:  fixed;
	background-size: cover;
}

.main-menu, footer {background-color: #3D489A;}
 
/* navigation */

figure {padding: 5px 5px 5px 150px;}

figure img {
	width: 80px;
	height: auto;
}

.nav-menu {
	margin-top: 23px;
	padding-left: 50px;
}

nav a{
	color: #ffffff;
	font-size: 18px;
}

nav li a {background-color: #3D489A;}

.fa, .tel {display: none;}

/* adaptive navigation */

@media screen and (max-width: 1199px) {
	figure {padding: 5px 5px 5px 120px}
}

@media screen and (max-width: 990px) {
	figure {padding: 5px 5px 5px 50px}
	.nav-menu {padding-left: 40px;}
}

@media screen and (max-width: 769px) {
	figure {padding: 5px 0px 5px 0px}
	figure img {width: 60px;}
	.nav a {font-size: 16px;}
	.nav>li>a {padding: 10px 5px;}
	.nav-menu {padding-left: 15px; margin-top: 13px;}
	div.col-xs-1 {padding-left: 5px;}
}

@media screen and (max-width: 515px) {
	body {margin-bottom: 80px;}
	.col-xs-1 {padding: 5px}
	figure img {width: 45px;}
	.nav-menu {padding-left: 10px; margin-top: 0px;}
	.for_phones {display: none}
	.fa {display: block;}
	ul.nav.nav-pills {display: table; margin: 0 auto;}
	.mob-fixed {position: fixed; width: 100%;}
	.tel {display: inline;}
}

/* content style */
/*common for every page */

@media screen and (min-width: 1199px) {
	.back {padding: 0 150px;}
}

article a {color: #7673d9;}

article a:hover {color: #ffffff;}

article, table {
	margin: 10px;
	font-size: 18px;
}

/* main page */

.greeting {margin-top: 70px;}

.greeting p, caption {
	text-align: center;
	font-size: 36px;
}

/* about me */

.me {
	max-width: 300px;
	height: auto;
	margin: 10px;
	float: left;
}

/* services */

caption {color: #ffffff;}

td {vertical-align: center;}

.explanation {padding: 0px 10px;}

/* links page */

.cort {font-size: 20px;}

/*contacts */

.contact {
	float: left;
}
.contact h2 {
	margin-bottom: 50px;
}
.contact p {
	margin-bottom: 25px;
}


.map {
	width: 500px;
	height: 400px;
	margin-top: 20px;
	float: right;
	text-align: center;
}

/* adaptive style for body */

@media screen and (max-width: 1199px) {
	.map {margin: 20px;}
	.contact {margin-left: 20px;}
}

@media screen and (max-width: 990px) {
	.greeting p {font-size: 30px;}
	.map {
		width: 450px;
		height: 350px;
		float: none; 
		}
	.contact {display: block; width: 100%;}
}

@media screen and (max-width: 769px) {
	.me {width: 250px;}
	.table {font-size: 18px;}
}
@media screen and (max-width: 515px) {
	.back {width: 100%;}
	.table, th {font-size: 14px; text-align: center;}
	table td {padding: 0px;}
	caption {margin-top: 60px; font-size: 24px;}
	.greeting p {font-size: 24px;}	
	.me {float: none;
		 width: 200px;
		 margin-top: 80px;}
	.fig, article {text-align: center;}
	article:first-child {margin-top: 80px;}
	h2 {font-size: 20px;}
	.cort a {font-size: 16px;}
	.explanation {text-align: center;}
}

@media screen and (max-width: 476px) {
	.contact {width: auto;}
}
/* Footer */

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	padding: 20px 20px 10px 130px;	
}

footer p{padding-left: 0px;}

/* Footer adaptive styles */

@media screen and (max-width: 990px) {
	.kairick {
		text-align: center;
	 	display: block;
	 	margin-bottom: 5px;
	 }
	footer {padding-left: 0px;}
	footer span{display: inline-block;}
}

@media screen and (max-width: 769px) {
	footer {
			height: 80px;
			padding: 15px;
			text-align: center;
	}
}

